@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

html, body {
    margin: 0;
    padding: 0;
}

.layout {
    height: 100vh;
}

.menu {
    position: absolute;
    z-index: 1;
}

.menuList {
    width: 300px;
}

.headshotImage {
    width: 45vw;
}

.headshotTitle {
    text-align: end;
    position: relative;
    padding: 20px 20px 20px 10px;
    top: -80px;
    left: -10px;
    background-color: rgb(31, 31, 31);
    border: 5px solid rgb(171, 32, 253);
    box-shadow: 0 0 3vw rgb(171, 32, 253);
    border-radius: 10px;
    transform: skewy(-10deg);
}

.fluxName {
    font-family: neon;
    color: #fa2020;
    font-size: 5.2vw;
    line-height: 5vw;
    text-shadow: 0 0 3vw #b11515;
}

.fluxTitle {
    font-family: neon;
    color: #426DFB;
    font-size: 4.5vw;
    line-height: 5vw;
    text-shadow: 0 0 3vw #2356FF;
}

.fluxName {
    animation: fluxName 2s linear infinite;
    -moz-animation: fluxName 2s linear infinite;
    -webkit-animation: fluxName 2s linear infinite;
    -o-animation: fluxName 2s linear infinite;
}

.fluxTitle {
    animation: fluxTitle 2s linear infinite;
    -moz-animation: fluxTitle 2s linear infinite;
    -webkit-animation: fluxTitle 2s linear infinite;
    -o-animation: fluxTitle 2s linear infinite;
}

@keyframes fluxTitle {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

@keyframes fluxName {
    0%,
    100% {
        text-shadow: 0 0 1vw #e01a1a, 0 0 3vw #e41e1e, 0 0 10vw #e21f1f, 0 0 10vw #e02020, 0 0 .4vw #fa9d9d, .5vw .5vw .1vw #7a1d1d;
        color: #fa4747;
    }
    50% {
        text-shadow: 0 0 .5vw #7c1313, 0 0 1.5vw #791616, 0 0 5vw #7e1818, 0 0 5vw #7e1616, 0 0 .2vw #7e1818, .5vw .5vw .1vw #411212;
        color: #802727;
    }
}